.dual-slider {
  @include flex(center, space-evenly, column);
  row-gap: 15px;

  .dual-slider__input-fields {
    @include flex(center, space-evenly);
    .input-field {
      max-width: 30%;

      input {
        text-align: center;
        color: $color-dark;
        transition: background 0.2s ease-out;
      }
  
      &:hover {
        input {
          background: rgba($color-dark, 0.1);
        }
      }
    }
  }

  .dual-slider__ranges {
    width: 100%;
    .dual-slider__line{
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: rgba($color-dark, 0.1);
      position: relative;
    
      .dual-slider__progress {
        height: 100%;
        background: $color-main;
        position: absolute;
        left: 25%;
        right: 25%;
      }
    }

    .dual-slider__input-ranges {
      position: relative;

      input {
        position: absolute;
        width: 100%;
        height: 5px;
        top: -5px;
        left: 0;
        -webkit-appearance: none;
        appearance: none;
        background: none;
        pointer-events: none;

        &::-webkit-slider-thumb {
          cursor: pointer;
          -webkit-appearance: none;
          background: $color-main;
          height: 15px;
          width: 15px;
          border-radius: 5px;
          pointer-events: auto;
        }
      }
    }
  }
}



