.dual-slider {
  @include flex(center, space-evenly, column);
  row-gap: 15px;

  .dual-slider__input-fields {
    @include flex(center, space-evenly);
    width: 100%;
    .input-field {
      width: 30%;

      input {
        text-align: center;
        color: $color-dark;
        transition: background 0.2s ease-out;
      }
  
      &:hover {
        input {
          background: rgba($color-dark, 0.1);
        }
      }
    }
  }

  .dual-slider__ranges {
    margin-top: 5px;
    height: 10px;
    width: 100%;
    position: relative;

    input {
      -webkit-appearance: none; 
      appearance: none;
      height: 5px;
      width: 100%;
      position: absolute;
      background-color: rgba($color-dark, 0.1);
      pointer-events: none;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        pointer-events: all;
        height: 15px;
        width: 15px;
        border-radius: 5px;
        background-color: $color-main;
        box-shadow: 0 0 0 1px #C6C6C6;
        cursor: pointer;
      }
    }

    .range_from {
      top: 2.5px;
      height: 0;
      z-index: 1;
    }
  }
}



