$color-primary: #CD853F;
$color-secondary: #DAA520;
$color-main: rgb(153, 101, 21);
$color-additional: #774d25;

$color-light: white;
$color-dark: #555;

$desktop-content-max-width: 1200px;

$laptop-screen-max-width: 1439px;
$tablet-screen-max-width: 1023px;
$mobile-screen-max-width: 767px;