$color-primary: #23314f;
$color-main: #b17a49;
$color-light: #ece6e0;
$color-dark: #5e514f;
$color-background: rgb(249, 251, 252);

$color-positive: #00a046;
$color-negative: #be0404;

$desktop-content-max-width: 1280px;

$laptop-screen-max-width: 1439px;
$tablet-screen-max-width: 1023px;
$mobile-screen-max-width: 767px;