@mixin media-laptop {
  @media (max-width: $laptop-screen-max-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-screen-max-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-screen-max-width) {
    @content;
  }
}

@mixin font($size, $weight: 500, $height: 120%, $style: normal) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    font-style: $style;
}