.cart-item {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: calc(100vh - 140px);
  display: flex;
  column-gap: 20px;

  @include media-mobile {
    flex-direction: column;
    align-items: center;
  }
}

.cart-empty {
  max-width: 1280px;
  margin: 0 auto;
  padding: 150px 0;
  min-height: calc(100vh - 140px);
  display: flex;
  column-gap: 20px;
  font-size: 50px;
  font-weight: 600;
}

.cart-item__content {
  margin: 30px 0;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  background: $color-light;
  box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
  border-radius: 10px;
  max-width: 816px;
  min-width: 300px;

  @include media-mobile {
    margin-bottom: 0;
  }
  .cart-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    column-gap: 20px;

    .cart-item__title {
      display: flex;
      align-items: center;
      font-size: calc(1.5rem + 1vw);
      letter-spacing: .03em;
    }

    .cart-item__page-control {
      display: flex;
      margin-left: auto;
      justify-content: space-between;
      align-items: center;
      @include media-tablet {
        flex-wrap: wrap;
        row-gap: 5px;
        justify-content: flex-end;
      }
      
      
      column-gap: 5px;

      .cart-item__limit {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;

        .limit {
          text-align: center;
          @extend %border;
          background: $color-light;
          box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
          font-size: 120%;
        }
      }

      .cart-item__pages {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;

        .button_stock {
          @extend %border;
          height: 100%;
          background: $color-light;
          
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          user-select: none;
  
          .stock__reduce-item {
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: center;
  
            .prev-page {
              cursor: pointer;
              background: url(./assets/chevron_left.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
              background-size: 16px 16px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
  
              &:hover {
                background: url(./assets/chevron_left.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
                background-size: 16px 16px;
              }
            }
          }
  
          .current-page {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
          }
  
          .stock__add-item {
            cursor: pointer;
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: center;
  
            .next-page {
              background: url(./assets/chevron_right.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
              background-size: 16px 16px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
  
              &:hover {
                background: url(./assets/chevron_right.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
                background-size: 16px 16px;
              }
            }
          }
        }
      }
    }
  }

  .cart-item__info {
    display: flex;
    flex-direction: row;
    min-height: 150px;

    @include media-tablet {
      flex-wrap: wrap;
    }
  
  
    .info__wrapper {
      padding: 20px;
      width: 100%;

      @include media-tablet {
        order: 1;
      }

  
      .cart-item__name-brand {
        color: $color-dark;
        cursor: pointer;
        @include adaptive-font(16, 24);
      }
  
      .cart-item__description {
        margin-top: 10px;

        @include media-tablet {
          display: none;
        }
      }
  
      .cart-item__brand {
        margin-top: 20px;
      }
    }
  
    .control__wrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      @include media-mobile {
        padding: 5px;
        margin-left: auto;
      }
    
      .stock__button {
        display: flex;
        row-gap: 10px;
        flex-direction: column;
        justify-content: space-between;
    
        .button_stock {
          height: 100%;
          background: $color-light;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          user-select: none;
    
          .stock__reduce-item {
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .reduce-item__image {
              cursor: pointer;
              background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
              background-size: 16px 16px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
    
              &:hover {
                background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
                background-size: 16px 16px;
              }
            }
          }
    
          .stock__amount-item {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
          }
    
          .stock__add-item {
            cursor: pointer;
            width: 55%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .add-item__image {
              background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
              background-size: 16px 16px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
    
              &:hover {
                background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
                background-size: 16px 16px;
              }
            }
          }
        }
    
        .stock__item-left {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
    
          .item-left__amount {
            color: $color-dark;
            font-size: 1.6rem;
          }
        }
      }
    
      .price-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .total__price {
          color: $color-dark;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    
    }
  }

  .cart-item__devider {
    width: 100%;
    height: 3px;
    margin-bottom: 15px;
    background-color: #f0f1f2;
  }
}

.cart-item__images {
  display: flex;
  column-gap: 10px;
  align-items: center;

  .order-num {
    margin-left: 10px;
    @extend %border;
    background: $color-light;
    width: 20px;
    text-align: center;
  }

  .cart-item__image {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }
}



.cart-item__summary {
  width: 100%;
  max-width: 402px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .promo {
    margin: 30px 0 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: $color-light;
    box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
    border-radius: 10px;

    .promo-title {
      font-size: 120%;
    }

    .promo-examples {
      font-size: 80%;
      margin: 10px 0;
    }

    .promo-line-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
      margin: 0 auto;

      .promo-text {
        margin: 10px 0;
      }

      .promo-apply-btn {
        background: $color-main;
        color: $color-light;
        border-radius: 10px; 
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 50px;
        cursor: pointer;
        user-select: none;
        border: 2px solid $color-primary;
        outline: 0px solid $color-main;
        transition: border .2s linear, outline .2s linear;
        &:hover {
          border: 2px solid $color-primary;
          outline: 2px solid $color-main;
        }
      }
    }

    .promocode {
      margin: 15px 0;
      @extend %border;
      height: 30%;
      background: $color-light;
      padding-left: 10px;
    }

    .button-promo {
      background: $color-main;
      color: $color-light;
      border-radius: 10px; 
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      border: 2px solid $color-primary;
      outline: 0px solid $color-main;
      transition: border .2s linear, outline .2s linear;
      &:hover {
        border: 2px solid $color-primary;
        outline: 2px solid $color-main;
      }
    }
  }

  .cart-summary {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: $color-light;
    box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
    border-radius: 10px;

    .rules {
      margin: 20px 0;
      font-size: 70%;
      width: 80%;
    }

    .cart-summary__title {
      margin-bottom: 16px;
    }

    .cart-summary__total-price-title{
      font-size: calc(1rem + 1vw);
      letter-spacing: .03em;
    }

    .cart-summary__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      list-style: none;
      align-content: center;
    }

    .cart-summary__term {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .cart-summary__item--bordered{
      align-items: baseline;
      padding-top: 16px;
      border-top: 3px solid #f0f1f2;
    }

    .cart-summary__old {
      display: none;
      font-size: 18px;
      line-height: 32px;
      font-weight: 600;
      text-decoration: line-through;
      text-decoration-color: $color-main;
      margin: 0;
      padding: 0;
    }

    .cart-summary__old--visible {
      display: block;
    }

    .cart-summary__amount {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }

    .discount-title {
      visibility: hidden;
    }

    .discount-title__visible {
      visibility: visible;
    }


    .discount-line-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
      margin: 0 auto;
      padding-left: 10px;
      width: 280px;
      justify-content: space-between;

      @include media-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
      }

      .discount-text {
        margin: 10px 0;
      }

      .discount-remove-btn {
        background: $color-main;
        color: $color-light;
        border-radius: 10px; 
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 70px;
        cursor: pointer;
        user-select: none;
        border: 2px solid $color-primary;
        outline: 0px solid $color-main;
        transition: border .2s linear, outline .2s linear;
        &:hover {
          border: 2px solid $color-primary;
          outline: 2px solid $color-main;
        }
      }
    }


    .cart-summary__checkout-button {
      background: $color-main;
      color: $color-light;
      border-radius: 10px; 
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      border: 2px solid $color-primary;
      outline: 0px solid $color-main;
      transition: border .2s linear, outline .2s linear;
      &:hover {
        border: 2px solid $color-primary;
        outline: 2px solid $color-main;
      }
    }
  }
}





// .cart-item__control {
//   width: 280px;

//   .control__wrapper {
//     box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
//     background: $color-primary;
//     @extend %border;
//     padding: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     row-gap: 10px;

//     .stock__button {
//       height: 40px;
//       display: flex;
//       justify-content: space-between;

//       .button_stock {
//         @extend %border;
//         width: 45%;
//         height: 100%;
//         background: $color-light;
        
//         overflow: hidden;
//         display: flex;
//         justify-content: space-between;
//         user-select: none;

//         .stock__reduce-item {
//           width: 35%;
//           display: flex;
//           align-items: center;
//           justify-content: center;

//           .reduce-item__image {
//             cursor: pointer;
//             background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
//             background-size: 16px 16px;
//             width: 25px;
//             height: 25px;
//             border-radius: 50%;

//             &:hover {
//               background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
//               background-size: 16px 16px;
//             }
//           }
//         }

//         .stock__amount-item {
//           width: 30%;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           font-size: 2rem;
//         }

//         .stock__add-item {
//           cursor: pointer;
//           width: 35%;
//           display: flex;
//           align-items: center;
//           justify-content: center;

//           .add-item__image {
//             background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
//             background-size: 16px 16px;
//             width: 25px;
//             height: 25px;
//             border-radius: 50%;

//             &:hover {
//               background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
//               background-size: 16px 16px;
//             }
//           }
//         }
//       }

//       .stock__item-left {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         column-gap: 10px;

//         .item-left__amount {
//           color: $color-light;
//           font-size: 1.6rem;
//         }
//       }
//     }

//     .price-total {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       margin: 10px 0 30px;

//       .total__price {
//         color: $color-light;
//         font-size: 2rem;
//         font-weight: bold;
//       }
//     }

//     .cart__button {

//       .button_cart {
//         background: $color-main;
//         color: $color-light;
//         border-radius: 10px; 
//         height: 40px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         user-select: none;
//         border: 2px solid $color-primary;
//         outline: 0px solid $color-main;
//         transition: border .2s linear, outline .2s linear;
//         &:hover {
//           border: 2px solid $color-primary;
//           outline: 2px solid $color-main;
//         }
//       }
//     }

//     .buy-now__button {

//       .button_buy-now {
//         background: $color-light;
//         border-radius: 10px; 
//         height: 40px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         user-select: none;
//         border: 2px solid $color-primary;
//         outline: 0px solid $color-main;
//         transition: border .2s linear, outline .2s linear;
//         &:hover {
//           border: 2px solid $color-primary;
//           outline: 2px solid $color-main;
//         }
//       }
//     }
//   }
// }