.cart-item {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  height: calc(100vh - 140px);
  display: flex;
  column-gap: 20px;
}

.cart-item__content {
  margin: 30px 0;
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  background: $color-light;
  box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
  border-radius: 10px;
  max-width: 816px;

  .cart-item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .cart-item__title {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: calc(1rem + 1vw);
      letter-spacing: .03em;
    }

    .cart-item__page-control {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .cart-item__info {
    display: flex;
    flex-direction: row;
    min-height: 150px;
  
  
    .info__wrapper {
      padding: 20px;
  
      .cart-item__name-brand {
        color: $color-dark;
        @include adaptive-font(20, 30);
      }
  
      .cart-item__description {
        margin-top: 10px;
      }
  
      .cart-item__brand {
        margin-top: 20px;
      }
    }
  
    .control__wrapper {
      padding: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    
      .stock__button {
        display: flex;
        row-gap: 5px;
        flex-direction: column-reverse;
        justify-content: space-between;
    
        .button_stock {
          height: 100%;
          background: $color-light;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          user-select: none;
    
          .stock__reduce-item {
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .reduce-item__image {
              cursor: pointer;
              background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
              background-size: 16px 16px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
    
              &:hover {
                background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
                background-size: 16px 16px;
              }
            }
          }
    
          .stock__amount-item {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
          }
    
          .stock__add-item {
            cursor: pointer;
            width: 35%;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .add-item__image {
              background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
              background-size: 16px 16px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
    
              &:hover {
                background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
                background-size: 16px 16px;
              }
            }
          }
        }
    
        .stock__item-left {
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
    
          .item-left__amount {
            color: $color-dark;
            font-size: 1.6rem;
          }
        }
      }
    
      .price-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .total__price {
          color: $color-dark;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    
    }
  }

  .cart-item__devider {
    width: 100%;
    height: 2px;
    background-color: #f0f1f2;
  }
}

.cart-item__images {
  .cart-item__image {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}



.cart-item__summary {
  width: 100%;
  max-width: 402px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .promo {
    margin: 30px 0 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: $color-light;
    box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
    border-radius: 10px;
  }

  .cart-summary {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background: $color-light;
    box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
    border-radius: 10px;

    .cart-summary__title {
      margin-bottom: 16px;
    }

    .cart-summary__total-price-title{
      font-size: calc(1rem + 1vw);
      letter-spacing: .03em;
    }

    .cart-summary__item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      list-style: none;
    }

    .cart-summary__term {
      display: flex;
      justify-content: space-between;
    }

    .cart-summary__item--bordered{
      align-items: baseline;
      padding-top: 16px;
      border-top: 3px solid #f0f1f2;
    }

    .cart-summary__amount {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }

    .cart-summary__checkout-button {
      width: 100%;
      background: $color-primary;
    }
  }
}





// .cart-item__control {
//   width: 280px;

//   .control__wrapper {
//     box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
//     background: $color-primary;
//     @extend %border;
//     padding: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-evenly;
//     row-gap: 10px;

//     .stock__button {
//       height: 40px;
//       display: flex;
//       justify-content: space-between;

//       .button_stock {
//         @extend %border;
//         width: 45%;
//         height: 100%;
//         background: $color-light;
        
//         overflow: hidden;
//         display: flex;
//         justify-content: space-between;
//         user-select: none;

//         .stock__reduce-item {
//           width: 35%;
//           display: flex;
//           align-items: center;
//           justify-content: center;

//           .reduce-item__image {
//             cursor: pointer;
//             background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
//             background-size: 16px 16px;
//             width: 25px;
//             height: 25px;
//             border-radius: 50%;

//             &:hover {
//               background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
//               background-size: 16px 16px;
//             }
//           }
//         }

//         .stock__amount-item {
//           width: 30%;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           font-size: 2rem;
//         }

//         .stock__add-item {
//           cursor: pointer;
//           width: 35%;
//           display: flex;
//           align-items: center;
//           justify-content: center;

//           .add-item__image {
//             background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
//             background-size: 16px 16px;
//             width: 25px;
//             height: 25px;
//             border-radius: 50%;

//             &:hover {
//               background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
//               background-size: 16px 16px;
//             }
//           }
//         }
//       }

//       .stock__item-left {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         column-gap: 10px;

//         .item-left__amount {
//           color: $color-light;
//           font-size: 1.6rem;
//         }
//       }
//     }

//     .price-total {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       margin: 10px 0 30px;

//       .total__price {
//         color: $color-light;
//         font-size: 2rem;
//         font-weight: bold;
//       }
//     }

//     .cart__button {

//       .button_cart {
//         background: $color-main;
//         color: $color-light;
//         border-radius: 10px; 
//         height: 40px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         user-select: none;
//         border: 2px solid $color-primary;
//         outline: 0px solid $color-main;
//         transition: border .2s linear, outline .2s linear;
//         &:hover {
//           border: 2px solid $color-primary;
//           outline: 2px solid $color-main;
//         }
//       }
//     }

//     .buy-now__button {

//       .button_buy-now {
//         background: $color-light;
//         border-radius: 10px; 
//         height: 40px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;
//         user-select: none;
//         border: 2px solid $color-primary;
//         outline: 0px solid $color-main;
//         transition: border .2s linear, outline .2s linear;
//         &:hover {
//           border: 2px solid $color-primary;
//           outline: 2px solid $color-main;
//         }
//       }
//     }
//   }
// }