.error-404 {
  @include flex(center, center, column);
  max-width: 1200px;
  margin: 100px auto 0;

  .error-404__images {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;

    .error-404__img {
      width: 33%;

      img {
        width: 100%;
      }
    }
  }

  .error-404__text {
    color: $color-additional;
  }

  .error-404__button {
    margin-top: 10vh;
  }
}