.shop-item {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
}

.shop-item__breadcrumb {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.shop-item__content {
  margin: 30px 0;
  flex: 1;
  display: flex;
  column-gap: 30px;
}

.shop-item__images {
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .shop-item__image {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.25s;
    }

    img:hover {
      transform: scale(1.2);
    }
  }
  
  .shop-item__thumbnails {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    height: 100px;

    .shop-item__thumbnail {
      background: white;
      width: 100px;
      height: 100px;
      box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    
  }
}

.shop-item__info {
  flex: 1;
  
  .info__wrapper {
    background: $color-light;
    box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
    padding: 20px;
    border-radius: 10px;

    .shop-item__name-brand {
      color: $color-dark;
      @include adaptive-font(20, 30);
    }

    .shop-item__description {
      margin-top: 10px;
    }

    .shop-item__brand {
      margin-top: 20px;
    }

    .shop-item__brand,
    .shop-item__roast,
    .shop-item__sorts,
    .shop-item__weight,
    .shop-item__country {
      color: $color-dark;
    }
  }
}

.shop-item__control {
  width: 280px;

  .control__wrapper {
    box-shadow: 0 0 20px 1px rgba($color-light, 0.5);
    background: $color-primary;
    @extend %border;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 10px;

    .stock__button {
      height: 40px;
      display: flex;
      justify-content: space-between;

      .button_stock {
        @extend %border;
        width: 45%;
        height: 100%;
        background: $color-light;
        
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        user-select: none;

        .stock__reduce-item {
          width: 35%;
          display: flex;
          align-items: center;
          justify-content: center;

          .reduce-item__image {
            cursor: pointer;
            background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
            background-size: 16px 16px;
            width: 25px;
            height: 25px;
            border-radius: 50%;

            &:hover {
              background: url(./assets/reduce.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
              background-size: 16px 16px;
            }
          }
        }

        .stock__amount-item {
          width: 30%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
        }

        .stock__add-item {
          cursor: pointer;
          width: 35%;
          display: flex;
          align-items: center;
          justify-content: center;

          .add-item__image {
            background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-main, 0.2), rgba($color-main, 0.2));
            background-size: 16px 16px;
            width: 25px;
            height: 25px;
            border-radius: 50%;

            &:hover {
              background: url(./assets/add.svg) center no-repeat, linear-gradient(rgba($color-dark, 0.2), rgba($color-dark, 0.2));
              background-size: 16px 16px;
            }
          }
        }
      }

      .stock__item-left {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        .item-left__amount {
          color: $color-light;
          font-size: 1.6rem;
        }
      }
    }

    .price-total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0 30px;

      .total__price {
        color: $color-light;
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .cart__button {

      .button_cart {
        background: $color-main;
        color: $color-light;
        border-radius: 10px; 
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        border: 2px solid $color-primary;
        outline: 0px solid $color-main;
        transition: border .2s linear, outline .2s linear;
        &:hover {
          border: 2px solid $color-primary;
          outline: 2px solid $color-main;
        }
      }
    }

    .buy-now__button {

      .button_buy-now {
        background: $color-light;
        border-radius: 10px; 
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        user-select: none;
        border: 2px solid $color-primary;
        outline: 0px solid $color-main;
        transition: border .2s linear, outline .2s linear;
        &:hover {
          border: 2px solid $color-primary;
          outline: 2px solid $color-main;
        }
      }
    }
  }
}